<div id="diaryHomePage" class="row site">
    <div class="sm-12 md-3 col">
        {{>sidebarhistory}}
    </div>
    <div class="sm-12 md-9 col">
        {{>entry}}
    </div>
</div>

<script>
    // Set up moment formatter for jQuery-ui date picker
    $.datepicker.parseDate = function (format, value) {
        return moment(value, format).toDate();
    };
    $.datepicker.formatDate = function (format, value) {
        return moment(value).format(format);
    };

    $(function () {
        $("#date").datepicker({ dateFormat: "Do MMM YY" });
    });
</script>