<div class="row flex-center form-middle">
    <div class="sm-5 col border border-primary padding-left-large padding-right-large">
        <form id="diaryLoginForm" method="POST" action="/user/login">
            {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            <div class="form-group">
                <label for="username">User name: </label>
                <input class="input-block" type="text" name="username" id="username" placeholder="User Name">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input class="input-block" type="password" name="password" id="password" placeholder="Password">
            </div>

            <div>
                <button id="formLoginBtn" class="btn-success" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>