<header>
    <nav class="border fixed split-nav">
        <div class="nav-brand">
            <h4><a href="/" id="btnGoHome" >Online Diary</a></h4>
        </div>
        <div class="collapsible">
            <input id="collapsible2" type="checkbox" name="collapsible2">
            <button>
                <label for="collapsible2">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </label>
            </button>
            <div class="collapsible-body">
                <ul class="inline">
                    {{#if user}}
                    <li><a href="/entry/add" id="btnAddEntry">My Day</a></li>
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="/user/logout" id="btnLogout">LogOut</a></li>
                    {{else}}
                    <li><a href="/user/login" id="btnLoginLocal">LogIn</a></li>
                    <li><a href="/user/register" id="btnRegister">Register</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>