<div class="paper">
    <h3 class="sidebar-title" style="text-align:center">History</h3>
    <div class="row">
        {{#each diaryEntries}}
        <div class="collapsible" style="width:100%">
            <input id="entry" type="radio" name="entry">
            <label for="entry">{{date}}</label>
        </div>
        {{/each}}
    </div>
</div>